@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    font-family: "open sans";
    color:#333;
    font-size: 15px;   
}

ul {
    list-style-type: none;
    padding: 0;
    color: #8e8e8e;
}

h2 {
    font-size: 33px;
    opacity: 0.8;
}

a {
text-decoration: none; 
color:#8e8e8e;
}

a:hover {
    color: black;
  }

.continent {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 708px;

}

.column1 {
    padding-right: 60px;
}

.column2 {
    padding-left: 30px;
}

.cointainer {
    display: grid;
    margin-left: 80px;
    margin-bottom: 100px;
    justify-content: center;
    grid-template-columns: 400px 300px 300px;
    grid-column-gap:20px;
    grid-template-rows: auto;
    grid-template-areas: 
    "item1 item4 item7"
    "item2 item5 item8"
    "item3 item6 item9";
}

@media only screen and (max-width: 970px) {
    body {
    }
    .cointainer {
        display: flex;
        flex-wrap: wrap;
    }

    .column1 {
        margin-top: 400px;
        width: 100%;
    }
    .column2 {
        width: 100%;
        padding-left: 0px;
    }
    .column3 {
        width: 100%;
    }


  }